# Python
.ipynb_checkpoints/
__pycache__/
.venv/
.mypy_cache/
.hypothesis/

# Rust
target/

# Misc.
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Escape hatch to ignore random files
*.ignore.*
